# 3rd parties AI services
ANTHROPIC_API_KEY=your-api-key
VOYAGEAI_API_KEY=your-api-key 

# API server settings
NODE_ENV="development"
HOST="localhost"
PORT="8000"
API_PORT="8000"

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP